<ul>
{% for matchId, matchData in matchlist.items %}
    <li><a href="http://matchhistory.{{region}}.leagueoflegends.com/en/#match-details/NA1/{{matchId}}/{{summoner.summonerId}}">{{ matchId }}</a>:{{ matchData.winner }}
    <ul>
    {% for playerId, playerData in matchData.players.items %}
        <li>{{ playerData.rank }}:{{ playerData.isAlly }}</li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

<p id="test"></p>

<script>
var matches = {{matchlist|safe}};

var tier = { CHALLENGER : 6,
             MASTER     : 5,
             DIAMOND    : 4,
             PLATINUM   : 3,
             GOLD       : 2,
             SILVER     : 1,
             BRONZE     : 0, };
var division = { I   : 4,
                 II  : 3,
                 III : 2,
                 IV  : 1,
                 V   : 0, };
console.log(matches);
var data = {};
for (matchId in matches) {
    matchData = matches.matchId;
    players = matchData.players;
    for (playerId in players) {
        playerData = matchData.players.playerId;
        if (!(playerData.rank.tier in data)) {
            data[playerData.rank.tier] = { I   : 0,
                                           II  : 0,
                                           III : 0,
                                           IV  : 0,
                                           V   : 0, };
        }
        data[playerData.rank.tier][playerData.rank.division]++;
    }
}

console.log(data);
</script>
