{% extends "base.html" %}

{% block search %}

<form action="{% url 'eloPurgatory:handler' %}" method="post" onsubmit="return validate()">
    {% csrf_token %}
    <select id="region" name="region">
        {% for region in regions %}
            <option value={{region}} {% if currentRegion == region %}selected{% endif %}>{{region|upper}}</option>
        {% endfor %}
    </select>
    Summoner:
    <input type="text" id="summoner" name="summoner">
    <select id="queue" name="queue">
        {% for text, value in queues.items %}
            <option value={{value}} {% if currentQueue == value %}selected{% endif %}>{{text|upper}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="search" value="Search">
    <input type="submit" name="search" value="Update">
</form>

<script>
function validate(){ 
    var a = document.getElementById("summoner");
    if (a == null || a == "") {
        alert("Must enter summoner name");
        return false;
    } else {
        return true;
    }
}
</script>

{% endblock %}
